USE [LINQTutorial]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 13/03/2018 16:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[USUARIOS] ([ID], [NOMBRE], [APELLIDO]) VALUES (1, N'PEPE', N'SANCHEZ')
INSERT [dbo].[USUARIOS] ([ID], [NOMBRE], [APELLIDO]) VALUES (2, N'RAFAEL', N'LOPEZ')
INSERT [dbo].[USUARIOS] ([ID], [NOMBRE], [APELLIDO]) VALUES (3, N'JOSE', N'PEREZ')
